#CheckersPageWrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 30px 40px 30px 31px;
    gap: 65px;
    height: 100vh;
    width: 100vw;
    background-color: green;
}

#CheckersBoardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    flex-grow: 4;
}
#CheckersBoardWrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#CheckersBoard {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
}

.CheckersSquares {
    display: flex;
    flex: 1 0 25%;
    .EmptySquare {
        flex: 1;
        color: white;
        background-color: black;
    }
    .FullSquare {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-color: black;
    }
    .DeadSquare {
        flex: 1;
        background-color: red;
    }
}
/* .CheckersSquares:after {
    content: "";
    display: block;
    padding-bottom:50%;
} */

.CheckersPiece {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    color: green;
}

#MoveListWrapper {
    box-sizing: border-box;
    background-color: white;
    border: 10px solid #985959;
    height: 100%;
    flex-grow: 1;
}